.form-btn {
    &__ok {
        width: 150px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        background-color: blue;
    }
    &__cancel {
        width: 150px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        background-color: red;
    }
}
.card-btn {
    background-color: darkviolet;
    color: white;
    font-weight: bold;
    box-shadow: 10px 5px 5px gray;
}
.added-btn {
    position: absolute;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: none;
    top: 0;
    right: 0;
}