.form-title {
    font-size: 22px;
    color: white;

}
.form-header1 {
    display: flex;
    width: 100%;
    background-color: #D44637;
    padding: 21px 31px 26px 31px;
    margin: 0;
    justify-content: space-between;
    box-sizing: border-box;
}
.close-btn {
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
}
.form-header2 {
    display: flex;
    width: 100%;
    background-color: darkblue;
    padding: 21px 31px 26px 31px;
    margin: 0;
    justify-content: space-between;
    box-sizing: border-box;
}