.cards {
border: 2px solid black;
  box-shadow: 10px 5px 5px gray;
  padding-bottom: 15px;
  position: relative;


  &__title{
    font-weight: bold;
  }
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;

}
img {
  width: 100%;
}
