.form1 {
    display: flex;
    flex-direction: column;
    background-color: #E74C3C;
    /*width: 517px;*/
    max-width: 40%;

    box-sizing: border-box;
}

.form2 {
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    /*width: 517px;*/
    max-width: 40%;

    box-sizing: border-box;
}