.nav-list {
  margin: 15px auto;
  display: flex;
  list-style: none;
  justify-content: flex-end;

}
.list-item {
  border: 1px solid #3d3d3d;
  background-color: grey;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 15px;
  //padding: 10px;
  box-sizing: border-box;
  text-decoration: none;

}
.is-active {
  background-color: darkseagreen;
}