.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: darkviolet solid 2px;
  max-width: 40%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.form-title {
  font-weight: bold;
  font-size: 22px;
  width: 100%;
  padding-bottom: 20px;
  color: darkviolet;
}