.list-container {
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
  list-style: none;
}
//.list-item {
//  border: 1px solid #3d3d3d;
//  background-color: grey;
//  color: white;
//  padding: 10px;
//  box-sizing: border-box;
//}