.form-content {
    width: 100%;
    padding: 35px 25px 45px 25px;
    box-sizing: border-box;
}
.text-content {
    font-size: 20px;
    color: white;
}
.form-btn1 {
    width: 102px;
    background-color: #D44637;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
}
.form-btn2 {
    width: 102px;
    background-color: darkblue;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
}
.clicked {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-clickked {
    font-size: 48px;
    font-weight: bold;
    color: yellow;
}